body {
    background-image: linear-gradient(to right, #7FFFD4, #0000FF);
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 80px;
    color: white;
}

.card-header {
    padding: 2%;
    text-align: center;
}

.form-input {
    margin: 15px;
    width: 75%;
    align-content: center;
}

.form-section {
    padding: 15px;
}

.btn {
    margin-left: 48px
}

.min-100-vh {
    min-height: 100vh;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.justify-space-around {
    justify-content: space-around;
}

.list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    text-decoration: none;
  }

#weather-card-container {
    padding: 200px;
}